<footer class="footer">
  <span class="top_line"></span>

  <div class="container">
    <!-- Icon at the top right -->
    <div class="row mb-3">
      <div class="col-md-12 text-right ">
        <img src="../../assets/logo.svg" alt="Icon" height="40">
      </div>
    </div>
    <div class="row footer-contan">
      <div class="">
        <ul>
          <li><a href="#">معلومات عن شغل</a></li>
          <li><a href="#">الأسئلة الشائعة</a></li>
          <li><a href="#">ضمان حقوقك</a></li>
          <li><a href="#">شروط الاستخدام</a></li>
        </ul>
      </div>
      <div class="linkes fw-lighter">
        <ul>
          <li><a href="#" class="main-color fw-normal">روابط</a></li>
          <li><a href="#">الشركاء</a></li>
          <li><a href="#">المقالات</a></li>
          <li><a href="#">مركز المساعدة</a></li>
        </ul>
      </div>
      <div class="fw-lighter">
        <ul>
          <li><a href="#" class="main-color fw-normal">صفحات</a></li>
          <li><a href="#">تسجيل جديد</a></li>
          <li><a href="#">قدم كشريك</a></li>
          <li><a href="#">تصفح كل الفئات</a></li>
          <li><a href="#">اتصل بنا</a></li>
        </ul>
      </div>
      <div class=" apps">
        <ul>
          <li><a href="#" class="main-color">حمل تطبيق شغل</a></li>
          <img src="../../assets/apple store.jpg" alt="Icon" >
          <img src="../../assets/google stores.jpg" alt="Icon" >
        </ul>
      </div>
      <div class=" social">
        <p class="main-color">تابعنا</p>
        <ul class="d-flex flex-row gap-3 fs-4 ">
          <li><a href="#" class="icon-link"><i class="fa-brands fa-facebook "></i></a></li>
          <li><a href="#"><i class="fa-brands fa-snapchat"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center mt-5 p-2 text-white copyright fs-6 fw-lighter">
    Copyright ©2021 All rights reserved | Shogl Platform by lun startup studio
  </div>
</footer>

