footer{
  background: #02385A;
  .top_line{
    height: 10px;
    width: 100%;
    display: block;
    background-image:  linear-gradient(to right, #29B1BE , #6B79B9);
    margin-bottom: 3rem;
  }
  .footer-contan{
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
  }
  .apps{
    img{
      border-radius: 8px;
      margin-top: 10px;
      width: 10rem;
      height: 3.2rem;
      cursor: pointer;
    }
  }
  .copyright{
    background-color: rgba(1, 41, 66, 0.58);
    font-size: 13px;
  }
}
@media (max-width: 1140px) {

}
@media (max-width: 992px) {
  footer{
    background: #02385A;
    .footer-contan{
      display: grid;
      grid-template-columns: 100%;
    }}
}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}
