<div class="info container">
  <div class="info-title text-center mb-1 ">
    <p>معلومات</p>
    <h2> نحن نفضل ان نسمع منك؟</h2>
    <div class="lines mb-2 mt-3">
      <span class="one"></span>
      <span class="two me-3"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-5 right-part">
      <div class="image">

        <img src="assets/Call_Center.jpg" alt="">
      </div>
    </div>
    <div class="col-7 lift-part">

      <form class="row">
          <div class="p-0">
            <label class="col-8 mb-2 mt-2 p-0" for="">الاسم</label>
            <input type="text" class="form-control shadow-none " placeholder="First name">
          </div>
          <div class="p-0">
            <label class="col-8 mb-2 mt-2 p-0" for="">الايميل</label>
            <input type="text" class="form-control shadow-none " placeholder="mmmmm@gmail.com">
          </div>
          <div class="p-0">
            <label class="col-8 mb-2 mt-2 p-0" for="">رقم الجوال</label>
            <input type="text" class="form-control shadow-none " placeholder="00000">
          </div>
          <div class="p-0">
            <label class="col-8 mb-2 mt-2 p-0" for="">المجال</label>
            <input type="text" class="form-control shadow-none " placeholder="المجال">
          </div>
          <div class="p-0 text-area ">
            <label for="" class=" mb-2 mt-2">اكتب تعليقك</label>
            <textarea
            class="form-control shadow-none shadow-none col-10"
            name=""
            id=""
            cols="20"
            rows="4"
            value="اكتب تعليق"
            placeholder="اكتب تعليقك">
            </textarea>
          </div>
          <div class="button p-0">
            <button>ارسال</button>
          </div>

      </form>
    </div>
  </div>
</div>
