<div class="best-price mt-5">
  <div class="items">
    <h2 class="title text-center mb-5">
      لماذا طلب عرض سعر افضل؟
    </h2>
    <div class="row">
      <div class="col-6 information">
        <p class="info">معلومات</p>
        <h2 class=" mb-2">
          لماذا طلب عرض السعر ..؟
        </h2>
        <div class="lines">
          <span class="one"></span>
          <span class="two me-3"></span>
        </div>
        <div class="text mt-3 mb-5 ">
          <span> اولا : ستطلب ولن تبحث وستوفر عنا البحث</span>
          <span> ثانيا : ستكشف سعر السوق للخدمة التى تبحث عنها</span>
          <span> ثالثا : ستتصفح السيرة الذكية للمشتغلين الجاهزين لخدمتك</span>
          <span> رابعا : ستختار السعر و المشتغل الانسب لك بكل ثقه وراحه بال</span>
        </div>
        <img class="mt-4" src="assets/youtube.png" alt="">
      </div>
      <div class="col-6 forms p-0">
        <div class="form-items">
          <div class="form-item rounded-4 pt-3 pb-3">
            <form class="row text" action="">
              <label class="col-8  mb-2 mt-2 p-0" for="">عنوان الطلب</label>
              <input  class="form-control shadow-none  col-10"type="text" >
              <label class=" col-8  mb-2 mt-2 p-0" for="">اكتب تفاصيل الطلب</label>
              <textarea class=" form-control shadow-none col-10" name="" id="" cols="20" rows="5" placeholder="صف مشروعك هنا"></textarea>
              <button class="mb-2 mt-2" >التالي </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

