.search{
  margin-top: 10px;
  .items{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 72% 4% 14%;
    align-items: center;
    .inputs{
      .in-search {
        outline: none;
        border: 1px solid #cfcfcf;
        border-left: transparent;
        height: 40px;
        border-radius: 0 5px 5px 0;
        width: 84%;
        padding-right: 22px;
      }
      .in-select{
        outline: none;
        border: 1px solid #cfcfcf;
        height: 40px;
        border-radius: 5px 0 0 5px;
        width: 14%;
        padding: 7px 3px;
        font-size: 13px;
      }
    }
    .word{
      text-align: center;
      color:#cfcfcf ;
      font-size: 20px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    button{
      border: none;
      background: transparent;
      width: 12rem;
      cursor: pointer;
      background: var(--main-color);
      color: white;
      border-radius: 8px;
      padding: 10px 4px;
      font-size: 13px;
    }
  }
}
