.banner{
  background-image: url(../../../assets/pngegg.png);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position-x: 55px;
  // height: 30rem;
  max-width: 100%;
  overflow: hidden;
  background-color: rgb(88, 125, 148);
  margin-top: .8rem;
  border-radius: 0 0 6rem 0  ;
  color: white;
  position: relative;
  padding-bottom: 2rem;

  .rows{
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 5rem;
    z-index: 1000000;
    position: relative;
    .text{
      width: 50%;
      margin-bottom: 5rem;

      h1{
        font-size: 3rem;
        font-weight: 600;
      }
      p{
        line-height: normal;
        margin-top: 12px;
        font-size: 1.2rem;
        color: #fafafad3;
      }
      button{
        color: #02385A;
        width: 12rem;
        padding: 10px;
        margin-right: 10px;
      }
    }
    .down-sec {
      display: grid;
      grid-auto-flow: column;
      width: 60%;
    }
  }
}
.banner::after{
  content: '';
  background-color: #02385a9f;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 1140px) {
  .banner{
    .rows{
      width: 95%;
      .down-sec {
        margin-right: 1rem;
        width: 60%;
      }
  }
}
}
@media (max-width: 992px) {
  .banner{
    background-image: none;
    .rows{
      width: 90%;
      .text{
        width: 80%;
      }
      .down-sec {
        width: 80%;
      }
  }
}
}
@media (max-width: 768px) {
  .banner{
    .rows{
      width: 90%;
      .text{
        width: 90%;
      }
      .down-sec {
        width: 100%;
    }
  }
}

}
@media (max-width: 576px) {
  .banner{
    .rows{
      width: 90%;
      display: grid;
      justify-items: center;
      .text{
        width: 90%;
        margin-bottom: 2rem;
        p{
          font-size: .9rem;
        }
        button{
          width: 10rem;
        }
      }
      .down-sec {
        width: 90%;
        display: grid;
        justify-items: center;
        grid-auto-flow: dense;
        grid-template-columns: 1fr 1fr ;
        gap: 10px;
        font-size: .7rem;
    }
  }
  }
}

