<div class="banner">
  <div class="rows ">
    <div class="row text">
      <h1 class="title">منصة شغل</h1>
      <p >هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها</p>
      <button class="btn btn-light">عن المنصة</button>
    </div>
    <div class="row down-sec ">
      <div class=" p-0">
        <i class="fa-solid fa-check"></i>
        <span class="me-2" >مفهوم جديد</span>
      </div>
      <div class=" p-0">
        <i class="fa-solid fa-briefcase"></i>
        <span class="me-2">حرية في التعامل</span>
      </div>
      <div class=" p-0">
        <i class="fa-solid fa-clock"></i>
      <span class="me-2">تثمين للوقت</span>
      </div>
      <div class=" p-0">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        <span class="me-2">شمولية في الخدمات</span>
      </div>
    </div>
  </div>

</div>

